<header>
  <h2>&lt;DAW/&gt;</h2>
  <h2>Álvaro González Muñoz</h2>
</header>

<main>
  <div class="title">
    <h1>EL AHORCADO DEL BICHO</h1>
    <div class="siuu"><h1>SIUUUU!!</h1></div>
  </div>
  <div id="el-bicho">
    <img src="../assets/img/soporte.png" />
    <img class="cabeza" src="../assets/img/cabeza.png" />
    <img src="../assets/img/torso.png" />
    <img src="../assets/img/brazo1.png" />
    <img src="../assets/img/brazo2.png" />
    <img src="../assets/img/pierna1.png" />
    <img src="../assets/img/pierna2.png" />
  </div>
</main>
